<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container">
    <div th:each="hotel: ${hotels}">
        <div>Name: <b th:text="${hotel.name}"/></div><br>
        <ul>
            <li th:each="roomtype: ${hotel.room_types}" th:text="${roomtype.name}"/>
        </ul>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>