<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hotel details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container">
    <div th:each="el : ${hotel}" class="alert alert-info mt-2">
        <h1 th:text="${el.name}"/>
        <p th:text="${el.address}"/>
        <p th:text="${el.phone}"/>
<!--        <p><b>Views: </b> <span th:text="${el.views}"/></p>-->
        <a th:href="'/hotels/' + ${el.id} + '/edit'" class="btn btn-warning">Edit</a><br><br>
        <form th:action="'/hotels/' + ${el.id} + '/remove'" method="post">
            <button class="btn btn-warning" type="submit">Delete</button>
        </form>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>