<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Hotels</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container">
    <h1>All Hotels</h1>=
    <div th:each="el : ${hotels}" class="alert alert-info mt-2">
        <h3 th:text="${el.name}"/>
        <p th:text="${el.address}"/>
        <a th:href="'/hotels/' + ${el.id}" class="btn btn-warning">More Details</a>
    </div>
</div>

<div th:insert="blocks/footer :: footer"></div>
</body>
</html>