<div th:fragment="header" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
        <h5 class="my-0 mr-md-auto font-weight-normal">Hotel Management System</h5>
        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-dark" href="/">Home</a>
            <a class="p-2 text-dark" href="/">Hotels</a>
            <a class="p-2 text-dark" href="/hotels/add">Add Hotel</a>

            <li sec:authorize="isAuthenticated()"><a th:href="@{/login}">Logout</a></li>
<!--            <a class="p-2 text-dark" href="/login">Log In</a>-->
<!--            <a class="p-2 text-dark" href="/signup">Sign Up</a>-->
        </nav>
        <!--    <a class="btn btn-outline-primary" href="#">Sign up</a>-->
    </div>
</div>